<!DOCTYPE html>
<html lang="en" ng-app="MyMusic">
<head>
  <meta charset="utf-8">
  <title>MyMusic</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <!--<script type="text/javascript" src="    angular.js"></script>
        <script type="text/javascript" src="    angular-route.js"></script>
        <script type="text/javascript" src="    controllers.js"></script>-->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javscript" src="js/controllers.js"></script>
        <!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
-->
<!-- Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
-->
<!-- Latest compiled and minified JavaScript
<script  type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
-->
</head>
<body  ng-controller="TrackListCtrl" >
  <!--<h1>{{"Ashutosh" + " Godara"}}</h1>
  <p>{{2+3}}</p>-->
  <!--<div ng-view></div>-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="id">IDs</option>
          <option value="rating">Rating</option>
        </select>
-->
      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="tracks">
          <li ng-repeat="track in tracks">
            <!--<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>-->

            <p class="thumb">{{track.title+[+track.genres.name+]+track.rating}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

<a href="http:www.google.com">GOOGLE</a>
</body>
    <!--<body style="background-img:   ">
        <div ng-view></div>

    </body>-->
</html>
